.single-services {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    padding: 30px;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    transition-behavior: normal;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    margin-bottom: 30px;
    border-radius: 10px 10px 100px 10px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.single-services::before {
    content: "";
    position: absolute;
    right: 500px;
    top: 50%;
    width: 100%;
    height: 10px;
    background-color: #05e8c2;
    box-shadow: 0 0 15px #05e8c2;
    transition: all 0.5s;
    z-index: -1;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.single-services::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #05e8c2;
    box-shadow: 0 0 15px #05e8c2;
    transition: all 0.5s;
    z-index: -1;
    transition: 1.5s;
    transform: scale(0);
    opacity: 0;
    border-radius: 10px 10px 100px 10px;
}